.mother div{
     margin-bottom: 1%;
     background-color: rgb(39, 110, 157);
     border-radius: 12px;
     box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
     width: 75%;
      justify-content: center;
}

body{
  background-image: url(istockphoto-598058914-612x612.jpg);
}


.personality{ 
    display: flex
}

.personality img{
    border-radius: 12px;
}
@media (max-width: 937px){
  .mother div{
    flex-direction: column;
    justify-content: center;
    padding: 10%;
  }}